body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u371 {
  position:absolute;
  left:100px;
  top:50px;
  width:300px;
  height:500px;
}
#u372 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u373 {
  position:absolute;
  left:200px;
  top:71px;
  width:100px;
  height:100px;
  font-size:20px;
}
#u374 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u375 {
  position:absolute;
  left:106px;
  top:504px;
  width:96px;
  height:40px;
}
#u376 {
  position:absolute;
  left:2px;
  top:14px;
  width:92px;
  word-wrap:break-word;
}
#u377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u377 {
  position:absolute;
  left:202px;
  top:504px;
  width:96px;
  height:40px;
}
#u378 {
  position:absolute;
  left:2px;
  top:14px;
  width:92px;
  word-wrap:break-word;
}
#u379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u379 {
  position:absolute;
  left:298px;
  top:504px;
  width:96px;
  height:40px;
}
#u380 {
  position:absolute;
  left:2px;
  top:14px;
  width:92px;
  word-wrap:break-word;
}
#u381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u381 {
  position:absolute;
  left:180px;
  top:280px;
  width:140px;
  height:40px;
}
#u382 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u383 {
  position:absolute;
  left:331px;
  top:61px;
  width:57px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u384 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u385 {
  position:absolute;
  left:170px;
  top:384px;
  width:161px;
  height:19px;
}
#u386 {
  position:absolute;
  left:2px;
  top:3px;
  width:157px;
  white-space:nowrap;
}
